{% load i18n %}{% load static %}{% load account %}{% load socialaccount %}
<!DOCTYPE html>
<html class="h-full bg-white">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'style/style.css' %}" rel="stylesheet">
{% block header %}{% endblock %}
</head>
<body class="h-full">
{% if request.path == '/profile' %}
  {% include 'include/navbar.html' %}
{% endif %}

  {% if messages %}
  <div class="toast toast-botton mb-10 toast-center">
    {% for message in messages %}
    <div class="alert alert-info">
      <span>{{ message}}</span>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 text-primary">
    <div class="mx-auto text-center text-4xl md:text-3xl lg:text-5xl ">
      <!-- <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company"> -->
      <h1 class="font-bold">{% block form_title%}{% endblock %}</h1>
      <h2 class="mt-4 text-center text-lg text-gray-900">{% block form_description %}{% endblock %}</h2>
    </div>
  
  {% block content %}{% endblock %}
  </div>
  {% include '../include/footer.html' %}