{% extends './base.html' %}{% load static %}
{% block form_title %}Password Reset{% endblock %}
{% block form_description %}Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.{% endblock %}
{% block content %}
<div class="sm:mx-auto sm:w-full sm:max-w-sm text-black">
    <form class="space-y-4" action="{% url 'account_reset_password' %}" method="POST">
        {% csrf_token %}

        <div>
            <label for="id_email" class="block text-sm font-medium">Email</label>
            <input id="id_email" type="email" autocomplete="email"
                placeholder="Email address" required name="email" maxlength="320"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>

        <div>
            <button type="submit" class="btn btn-primary btn-block">Reset My Password</button>
        </div>
    </form>
    <p class="mt-10 text-center text-sm">
        <p class="font-semibold">Please contact us if you have any trouble resetting your password.</p>
    </p>
</div>
{% endblock %}