{% extends './base.html' %}{% load static %}
{% block form_title %}Account Signup{% endblock %}
{% block form_description %}Create your account{% endblock %}
{% block content %}
    <div class="sm:mx-auto sm:w-full sm:max-w-sm text-black">
      <form class="space-y-4" action="{% url 'account_signup' %}" method="POST">
        {% csrf_token %}
        {% if form.errors %}
        <div class="toast toast-botton toast-center">

          {% if form.non_field_errors %}
            <div class="alert alert-error">
              <span>{{ form.non_field_errors }}</span>
            </div>
          {% endif %}

          {% if form.errors.email %}
            <div class="alert alert-error">
              <span>{{ form.errors.email }}</span>
            </div>
          {% endif %}

          {% if form.errors.username %}
            <div class="alert alert-error">
              <span>{{ form.errors.username }}</span>
            </div>
          {% endif %}

          {% if form.errors.mobile_number %}
            <div class="alert alert-error">
              <span>{{ form.errors.mobile_number }}</span>
            </div>
          {% endif %}

          {% if form.errors.dob %}
            <div class="alert alert-error">
              <span>{{ form.errors.dob }}</span>
            </div>
          {% endif %}

          {% if form.errors.password1 %}
            <div class="alert alert-error">
              <span>{{ form.errors.password1 }}</span>
            </div>
          {% endif %}

          {% if form.errors.password2 %}
            <div class="alert alert-error">
              <span>{{ form.errors.password2 }}</span>
            </div>
          {% endif %}
        </div>
        {% endif %}

        <div>
          <label for="id_email" class="block text-sm font-medium">Email</label>
          <input id="id_email" type="email" name="email" autocomplete="email" placeholder="Email address" required 
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>

        <div>
          <label for="id_username" class="block text-sm font-medium">User Name</label>
          <input id="id_username" type="text" name="username" autocomplete="username" placeholder="INDOS No." required 
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>

        <div>
          <label for="id_mobile_number" class="block text-sm font-medium">Mobile No.</label>
          <input id="id_mobile_number" type="number" name="mobile_number"
          placeholder="Mobile No." required minlength="10" maxlength="10"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>

        <div>
          <label for="id_password1" class="block text-sm font-medium">Password</label>
          <input type="password" name="password1" autocomplete="new-password" placeholder="Password" required aria-describedby="id_password1_helptext" id="id_password1"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          <span class="helptext" id="id_password1_helptext"><ul><li>Your password must contain at least 8 characters.</li></ul></span>
        </div>

        <div>
          <label for="id_password2" class="block text-sm font-medium">Passwor (again)</label>
          <input type="password" name="password2" autocomplete="new-password" placeholder="Password (again)" required id="id_password2"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
  
        <div>
          <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
        </div>
      </form>

      <form action="{% url 'google_login' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="mt-4 btn btn-primary btn-block">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 50 50" style="fill:#FFFFFF;"><path d="M 25.996094 48 C 13.3125 48 2.992188 37.683594 2.992188 25 C 2.992188 12.316406 13.3125 2 25.996094 2 C 31.742188 2 37.242188 4.128906 41.488281 7.996094 L 42.261719 8.703125 L 34.675781 16.289063 L 33.972656 15.6875 C 31.746094 13.78125 28.914063 12.730469 25.996094 12.730469 C 19.230469 12.730469 13.722656 18.234375 13.722656 25 C 13.722656 31.765625 19.230469 37.269531 25.996094 37.269531 C 30.875 37.269531 34.730469 34.777344 36.546875 30.53125 L 24.996094 30.53125 L 24.996094 20.175781 L 47.546875 20.207031 L 47.714844 21 C 48.890625 26.582031 47.949219 34.792969 43.183594 40.667969 C 39.238281 45.53125 33.457031 48 25.996094 48 Z"></path></svg>
          Sign Up with Google
        </button>
      </form>

      <p class="mt-10 text-center text-sm">
        Already have an account?
        <a href="{% url 'account_login' %}" class="font-semibold text-primary">Login</a>
      </p>
    </div>
{% endblock %}